
html, body {
    margin: 0;
    padding: 0;
}

:root {
    font-weight: 400;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root, input {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
    font-size: 1rem;
}

main {
    padding: 2rem;
}

h1 > sub {
    font-size: 0.75rem;
}

h2, label {
    font-weight: 600;
    font-size: 16px;
    margin: 2rem 0 0.25rem;
    display: block;
}

#inOpenapiSpecError,
#inJsonDataError {
    color: #e53935;
}

textarea, pre, code {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.3rem;
}

textarea, input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    outline: none;
}

textarea {
    min-height: 5rem;
    min-width: 100%;
    max-width: 100%;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.result {
    border: 1px solid #ddd;
    border-left-width: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.result__valid {
    border-color: #43a047;
}

.result__invalid {
    border-color: #e53935;
}

.result summary {
    font-weight: 600;
}

.result-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.result-content > * {
    min-width: 0;
}

.result-schemas {
    margin: 0.5rem 0;
}

.result-schemas > input {
    position: absolute;
    left: -100vw;
    width: 0;
    height: 0;
}

.result-schemas__tabs {
    display: flex;
    align-items: center;
    gap: 1px;
}

.result-schemas__tabs > label {
    font-weight: normal;
    display: block;
    margin: 0;
    color: #313131;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: background-color 0.22s, color 0.22s;
}

.result-schemas__tabs > label:hover {
    background-color: rgba(48, 48, 48, 0.2);
}

.result-schemas > input:first-child:checked ~ .result-schemas__tabs > label:first-child,
.result-schemas > input:nth-child(2):checked ~ .result-schemas__tabs > label:nth-child(2),
.result-schemas > input:nth-child(3):checked ~ .result-schemas__tabs > label:last-child {
    background-color: #313131;
    color: white;
    font-weight: 500;
}

.result-schemas pre {
    display: none;
    background: #313131;
    color: white;
    padding: 1rem;
    font-size: 0.8em;
    margin: 0;
    max-height: 20em;
    overflow: auto;
}

.result-schemas > input:first-child:checked ~ .result-schemas__panels > pre:first-child,
.result-schemas > input:nth-child(2):checked ~ .result-schemas__panels > pre:nth-child(2),
.result-schemas > input:nth-child(3):checked ~ .result-schemas__panels > pre:last-child {
    display: block;
}

hr {
    margin: 0.5rem 0;
    border: none;
    border-top: 1px solid #ddd;
}
